@model Jugueteria.Models.ViewModels.ToysViewModel
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Aspiria Test</h1>
</div>

<div class="container-fluid">


    <!-- datatable start -->
    <div class="table-responsive">
        <table id="dt-toys" class="table table-bordered table-hover table-striped w-100">
            <thead class="thead-dark w-100">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Nombre</th>
                    <th>Compañía</th>
                    <th>Descripción</th>
                    <th>RestriccionEdad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListToys)
                {
                    <tr>
                        <td>
                            <div class="d-flex mt-2">
                                <button onclick="rowData(this);" id="@item.Id" class="btn btn-sm btn-outline-primary mr-2" data-toggle="modal" data-target="#modalAdd" title="Editar"><i class="fa fa-edit"></i></button>
                                <button onclick="deleteToy(this);" id="@item.Id" class="btn btn-sm btn-outline-danger mr-2" title="Borrar"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                        <td>
                            <img src="@item.Img" alt="Sin imagen" style="width:75px;height:75px;" />
                        </td>
                        <td>@item.Nombre</td>
                        <td>@item.Compañía</td>
                        <td>@item.Descripcion</td>
                        <td>@item.RestriccionEdad</td>
                        <td>@string.Format("{0:C}", item.Precio)</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <hr />
    </div>
    <!-- datatable end -->
    
</div>


<!-- Modal Large -->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Juguetes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
            </div>
            <form asp-action="Create" asp-controller="Home" method="post" enctype="multipart/form-data"  >
                <div class="modal-body">
                    <!-- hiden inputs -->
                    <input type="hidden" name="txtTipoTrans" id="txtTipoTrans" />
                    <input asp-for="Toys.Id" id="txt-id" hidden>
                    <!-- hiden inputs -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Toys.Nombre" class="form-label">Nombre</label>
                                <input asp-for="Toys.Nombre" id="txt-nombre" class="form-control">
                                <span asp-validation-for="Toys.Nombre" class="text-danger" ></span>
                                <br />
                                <label asp-for="Toys.Compañía" class="form-label">Compañia</label>
                                <input asp-for="Toys.Compañía" id="txt-compañia" class="form-control">
                                <span asp-validation-for="Toys.Compañía" class="text-danger" ></span>
                                <br />
                                <label asp-for="Toys.Descripcion" class="form-label" for="txtAMaterno">Descripción</label>
                                <input asp-for="Toys.Descripcion" id="txt-descripcion" class="form-control">
                                <span asp-validation-for="Toys.Descripcion" class="text-danger" ></span>
                                <br />
                                <label asp-for="Toys.RestriccionEdad" class="form-label" for="txtTelefono">Restricción de edad</label>
                                <input asp-for="Toys.RestriccionEdad" type="number" id="txt-restriccion" class="form-control">
                                <span asp-validation-for="Toys.RestriccionEdad" class="text-danger" ></span>
                                <br />
                                <label asp-for="Toys.Precio" class="form-label" for="txtTelefono">Precio</label>
                                <input asp-for="Toys.Precio" type="text" id="txt-precio" class="form-control">
                                <span asp-validation-for="Toys.Precio" class="text-danger" ></span>
                                <br /><br />
                                <label class="form-label">Imagen</label>
                                <div class="custom-file">
                                    <input asp-for="Toys.Img" type="file" class="custom-file-input" id="img" name="img" accept="image/png, image/jpeg" onchange="changeImage(this);">
                                    <label class="custom-file-label" for="customFile">Escoge Archivo</label>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img  alt="Sin imagen" id="img-toy" style="width:60%;height:55%;" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" >Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {

        // initialize datatable
        $('#dt-toys').dataTable(
            {  
                dom:
                   
                    "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [                   
                    {
                        text: '<i class="fa fa-plus mr-1"></i> Agregar',
                        titleAttr: 'Agregar',
                        className: 'btn-dark btn-sm mr-1',
                        action: function (e, dt, node, conf) {
                            $('.btn-dark').attr('data-toggle', 'modal');
                            $('.btn-dark').attr('data-Target', '#modalAdd');
                            clearInputs();
                        } 
                    },
                    {
                        extend: 'colvis',
                        text: 'Columnas',
                        titleAttr: 'Columnas',
                        className: 'btn-outline-default'
                    },
                    {
                        extend: 'pdfHtml5',
                        text: 'PDF',
                        titleAttr: 'Generar PDF',
                        className: 'btn-outline-danger btn-sm mr-1',
                        orientation: 'landscape', //portrait
                        pageSize: 'A4', //A3 , A5 , A6 , legal , letter/
                        title: 'Aspiria Jugeteria',
                        exportOptions: {
                            columns: ':visible',
                            search: 'applied',
                            order: 'applied'
                            // columns: [0, 1, 2, 3, 4, 5, 6, 7],
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: 'Excel',
                        titleAttr: 'Generar Excel',
                        className: 'btn-outline-success btn-sm mr-1'
                    },
                    //{
                    //    extend: 'csvHtml5',
                    //    text: 'CSV',
                    //    titleAttr: 'Generate CSV',
                    //    className: 'btn-outline-primary btn-sm mr-1'
                    //},
                    //{
                    //    extend: 'copyHtml5',
                    //    text: 'Copy',
                    //    titleAttr: 'Copy to clipboard',
                    //    className: 'btn-outline-primary btn-sm mr-1'
                    //},
                    {
                        extend: 'print',
                        text: 'Imprimir',
                        titleAttr: 'Imprimir Tabla',
                        className: 'btn-outline-default btn-sm'
                    }
                ],              

                "language": {
                    "decimal": ".",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    //"search": "Buscar",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    select: {
                        rows: {
                            _: "%d Filas Seleccionadas",
                            0: "Click a una fila para seleccionarla",
                            1: "1 Fila seleccionada"
                        }
                    }
                },
                select: true


            });
    });

    //edit toys
    function rowData(row) {

        // Obtenemos todos los valores contenidos en los <td> de la fila seleccionada
        var nombre = $(row).parents("tr").find("td").eq(2).html();
        var compañia = $(row).parents("tr").find("td").eq(3).html();
        var descripcion = $(row).parents("tr").find("td").eq(4).html();
        var restriccion = $(row).parents("tr").find("td").eq(5).html();
        var precio = $(row).parents("tr").find("td").eq(6).html();
        var toyId = row.id;

        $("#txt-nombre").val(nombre);
        $("#txt-compañia").val(compañia);
        $("#txt-descripcion").val(descripcion);
        $("#txt-restriccion").val(restriccion);
        $("#txt-precio").val(precio.replace("$", "").replace(",", ""));
        //hiden ipnuts
        $("#txt-id").val(toyId);       
        $("#txtTipoTrans").val("EDIT");
        //clean span
        $("#txt-nombre-error").html("");
        $("#txt-compañia-error").html("");
        $("#txt-descripcion-error").html("");
        $("#txt-restriccion-error").html("");
        $("#txt-precio-error").html("");
    }

    //delete
    function deleteToy(evt) {
        var id = evt.id;
        var _url = "/Home/Delete/'" + id + "'";

        Swal.fire({
            title: 'Seguro ?',
            text: "Se borrara definitivamente ",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Si'
        }).then((result) => {
            if (result.value == true) {

                $.ajax({
                    url: _url,
                    type: 'POST',
                    data: { id: id },
                    datatype: "json",
                    success: function (res) {
                        window.location.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

            }
        });

    }

    function clearInputs() {
        $("#txt-nombre").val("");
        $("#txt-compañia").val("");
        $("#txt-descripcion").val("");
        $("#txt-restriccion").val("");
        $("#txt-precio").val("");
        //hiden ipnuts        
        $("#txtTipoTrans").val("ADD");
    }

    function changeImage(img) {
        document.getElementById('img-toy').src = window.URL.createObjectURL(img.files[0])
    }
   


</script>






